header{
  background-image: url('');
}
body{
  background-color: whitesmoke;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
/* section{
  background-color:blanchedalmond;
} */
.navbar{
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  left: 0;
}
.nav-link{
  transition: all 0.2s;
  position: relative;
}
.nav-link::before{
  /* content: '';
  height: 2px;
  width: 100%;
  background-color: #ff6347;
  position: absolute;
  bottom: 0;
  left: 0; */
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0%;
  height: 2px;
  background-color: #ff6347;
  transition: all 0.6s ease;
  transform-origin: center;
}
.navbar .nav-item:hover .nav-link::before{
  width: 75%;
}
#redmore:hover{
  background-color: #ff474a;
  border-color: #ff474a;
}
#texttomato{
  background-color: #ff6347;
  border-radius: 15px;
}
#intro{
  border: 2px solid wheat;
  border-radius: 15px;
  background-color: wheat;
}
ol{
  border: 2px solid wheat;
  border-radius: 15px;
  background-color: wheat;
}
h2{
  border-left: 10px solid #ff6347; 
  padding-right: 20px; 
}
.gallery{
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery-item{
  position: relative;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
  max-height: 400px;
  margin-bottom: 15px;
}
.gallery-item img{
  width: 100%;
  height: 50%;
  /* height: auto; */
}
.gallery-item:hover{
  transform: scale(1.1);
}
section{
  scroll-padding-top: 300px;
}